.tab-no-hover {
    flex: 0 1 calc(25% - 1em);
    display: flex;
    justify-content: space-between;
    opacity: 0.2;
    filter: blur(0.8px);
    border: 0px;
    border-radius: 0px;
    transition: transform .4s;
}

.tab-yes-hover:hover{
    clear: both; 
    transform: scale(1.2);
    z-index: 111;
    border: 2px solid #801336;
    background-color: #801336;
    float: left;
}

.tab-yes-hover {
    clear: both; 
    flex: 0 1 calc(25% - 1em);
    display: flex;
    justify-content: space-between;
    opacity: 1;
    border: 0px;
    border-radius: 0px;
    transition: transform .4s;
}

.meta-no-hover {
  display: none;
  clear: both; 
}

.meta-yes-hover-left {
    font-family: Less-Light;
    display: grid;
    position: fixed;
    clear: both; 
    top: 80px;
    left: 200px;
}

.meta-yes-hover-right {
    font-family: Less-Light;
    display: grid;
    position: fixed;
    clear: both; 
    top: 80px;
    right: 200px;
}


.img-basic-css{
    object-fit: cover;
    vertical-align: middle;
    border: 0px;
    border-radius: 0px;
    height: 200px;
    width: 200px;
}

